* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
 .one-istanbul-header {
  grid-column: 1 / 3;
  grid-row: 1;
 }
.two-visitor-info {
 grid-column: 3 / 4;
  grid-row: 1;
}
.picture {
 grid-column: 4 / 6;
  grid-row: 1 / 4;
  background-image: url("images/Placeholder.png")
}
.three-hotels {
 grid-column: 1 / 2;
  grid-row: 2;
}
.four-restaurants {
 grid-column: 2 / 3;
  grid-row: 2;
}
.five-museums {
 grid-column: 3 / 4;
  grid-row: 2;
}
.six-attractions {
 grid-column: 1 / 2;
  grid-row: 3;
}
.seven-attractions {
 grid-column: 2 / 3;
  grid-row: 3;
}
.eight-attractions {
 grid-column: 3 / 4;
  grid-row: 3;
}

